.form {
    margin: 10px 25px;
    display: flex;
    justify-content: space-between;
}

.form .form-input {
    background-color: rgba(14, 14, 53, 0.75);
    color: rgba(167, 173, 184, 0.9);
    border-radius: 15px;
    height: 1.8rem;
    width: 130px;
    border: 1px solid rgba(116, 169, 255, 0.8);
}

.form button {
    border-radius: 15px;
    background-color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.form button:hover {
    background-color: rgb(226, 194, 9);
    color: black;
    border: 1px solid rgb(226, 194, 9);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(167, 173, 184, 0.9);
    font-size: .8rem;
    text-align: center;
    /* border: 1px solid red; */
    height: 1.6rem;
    margin: 0 5px;
    padding: 0 5px;
}