.calendar-app {
    color: white;
    width: 300px;
    background-image: linear-gradient(
        to bottom right,
        rgba(148, 66, 255, 0.9),
        rgba(255, 72, 87, 0.9)
    );
    color: white;
    border-radius: 3px 50px 3px 3px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.calendar-app .calendar {
    width: 100%;
    text-align: center;
}

.calendar-app .calendar .current-day {
    background-color: rgb(0, 81, 255);
    color: white;
    border-radius: 3px;
}

.calendar-app .calendar .day {
    padding: 5px 10px;
}

.calendar-app .label-year {
    cursor: pointer;
}

.calendar-app .editor-year {
    background-color: rgba(107, 107, 107, 0.336);
    width: 50px;
    text-align: right;
    color: white;
}

.calendar-header {
    height: 40px;
}

.nav-month {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.nav-month i{
    font-size: 20px;
    cursor: pointer;
}