.weather-conditions {
    /* border: 1px solid blue; */
    margin: 5px 20px;
    color: white;
}

.weather-conditions .weather-top {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
}

.weather-conditions .weather-top p {
    padding: 0;
    margin: 0;
}

.weather-conditions .weather-temp {
    /* border: 1px solid red; */
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.weather-conditions .weather-temp p {
    padding: 5px 0;
    margin: 0;
}

.weather-conditions .weather-bottom {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
}

.weather-conditions .weather-bottom p {
    padding: 0;
    margin: 0;
}