.Calculator {
	width: 230px;
	border: .5px solid black;	
	cursor: pointer;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.Calculator .calculator-output {
	display: flex;
	align-items: center;
	background-color: rgba(54, 53, 53, 0.65);
	color: white;
	width: 100%;
	height: 60px;
}

.Calculator .calculator-output .output-text {
	width: 100%;
	margin: 5px;
	text-align: end;
	font-size: 2.8rem;
}

.Calculator .calculator-row:last-child {
	border-bottom: 1px solid black;
}

.Calculator .calculator-row .custom-button:last-child {
	background-color: orange;
}

.Calculator .calculator-row .custom-button {
	width: 57.5px;
	height: 48px;
	font-size: 1.4rem;
	transition: all .3s;
	background-color: rgba(121, 121, 128, 0.8);
	border: none;
	color: white;
	border-right: .1px solid black;
	border-top: .1px solid black;
}

.Calculator .calculator-row .custom-button:hover {
	background-color: rgb(209, 35, 64);
	color: white;
}

.Calculator .calculator-row .custom-button-3 {
	background-color: rgba(53, 53, 56, 0.8);
}

.Calculator .calculator-row .custom-button-2 {
	width: 115px;
	height: 48px;
	font-size: 1.4rem;
	background-color: rgba(121, 121, 128, 0.8);
	color: white;
	border: none;
	border-top: .1px solid black;
	border-right: .1px solid black;
	border-left: none;
}


.Calculator .calculator-row .custom-button-2:hover {
	background-color: rgb(209, 35, 64);
	color: white;
}